body{
    margin: auto;
}
header{
    background-color: black;
}
.logo-title{
    margin-left: 100px;
    font-size: 53px;
    overflow: hidden;
    border-right: .10em solid #FF8D8D;
    margin: 0 auto;
    letter-spacing: .4rem;
    animation: demo-typewriter 3s steps(30, end), demo-cursor 1s step-end infinite;
}
@keyframes demo-typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
@keyframes demo-cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #FF8D8D;
    }
}
.top-header .navbar{
    background-color: black;
}
.navbar a:hover{
    color: rgb(255, 30, 0);
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
}
.main-header-frist-colum{
    padding-top: 2.045in;
    padding-left: .655in;
}
.main-header-first-para{
    color: #f30407;
}
.main-header-heading{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.main-header-second-para{
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
    color: rgb(196, 205, 205);
    font-family: 'Poppins', sans-serif;
}
